body {
background-color: aqua;
font-family: Arial, sans-serif;
}
h1{
          font-family: Arial;
          color: rgb(160, 24, 19);
}
a{

       
          border-color: rgb(60, 207, 23);
           border-style: solid;
           border-top: 20px;
           border-bottom: px;
          border-width: 10px;
          margin-bottom: 40px;
}
img{

          border-radius: 50%;
          border-color: tomato;
           border-style: dashed;
          border-width: 10px;
          padding: 30px;
}