body {
background-color: rgb(147, 239, 211);
font-family: Arial, sans-serif;
}
h1{
          font-family: Arial;
          color: rgb(160, 24, 19);
}
a{

       
          border-color: rgb(60, 207, 23);
           border-style: solid;
           border-top: 20px;
           border-bottom: px;
          border-width: 10px;
          margin-bottom: 40px;
}
img{

          border-radius: 50%;
          border-color: tomato;
           border-style: dashed;
          border-width: 10px;
          padding: 30px;
}

.titulos{
          color: rgb(0, 119, 255);
          font-family: 'Times New Roman', Times, serif;
          font-style: italic;
          font-weight: 500px;
          font-size: 220%;
          text-align: center;
}
.alinhar_vertical{
          color: burlywood;
          min-height: 10em;
          display: table-cell;
          vertical-align: middle;
          font-style: italic;
          font-weight: 500px;
          font-size: 220%;
}

      